body {
    margin: 0;
    padding: 0;
    font-family: sens-serif;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/static/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
  }
  .navbar .navbar-nav .nav-item .nav-link:link, .navbar .navbar-nav .nav-item .nav-link:visited{
    color:#26f1fb;
    margin-right: 1px;
  }
  .navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active{
    color:blueviolet;
    margin-right: 1px;
    border-bottom: 2px solid blueviolet;
    transition: border-bottom 0.2s;
  }
  a .dropdown-item:hover{
    background-color: salmon;
  }
*{
  padding: 0;
  margin: 0;
  border-radius:border-box;
}




  
   
  
  
  .form-group label{
    width:100%;
  }
  .form-text text-muted {
    width: 100%;
   
    font-size: 12px;
    padding: 8px 0;
    margin: 8px 0;
    color: white;}
    
    
    
  
  
  .textinput {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
   
    float: left;
    margin: 0 10px;
    font-size: 18px;
  }
  .textinput:hover{
    background:rgb(27, 3, 252);
  }
  .select {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    
    float: left;
    margin: 0 10px;
    font-size: 18px;
  }
  .select:hover{
    background:rgb(27, 3, 252);
  }
  .alert{
    background:none;
    color: white;
  
    width:auto;
  }
  
 
  .textbox textarea,.emailinput,.textarea form-control,.asteriskField {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
   
    float: left;
    margin: 0 10px;
    font-size: 18px;
  }
  textarea.form-control {
    height: auto;
    background: none ;
  }
  .form-group textarea ,.form-control textarea, textarea, .textarea form-control{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
   
    float: left;
    margin: 0 10px;
    font-size: 18px;
  }
  
  
  .btn {
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
  
  .col-md-6 a {
    background: none;
     color: white;
    
    font-size: 18px;
    cursor: pointer;
  }
  
  
  .col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10 {
    background: none;

  }
  
  
  .navbar-brand img{
    height:50px;
  }
  @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
  .textbox i {
    width: 40px;
    float: left;
    text-align: center;
  }
  
  .col-md-6 label{
      color:aqua;
  }
  .form-floating{
      color:white;
  }
  
  #floatingInput{
    background: none;
    color:white;
  }
  .col-md-6 select{
    background: none;
    color:white; 
  }
  .col-md-6 select option{
      color:black;
  }
  .form-select option{
color:black;
  }
.col-md-6 span{
    color:white;
}